*{font-family: 'Overlock SC', sans-serif;}


h1{
    margin-top:50px;
    color: rgb(11, 209, 11);
}
.dolar{
    font-size: 50px;
    font-weight: 700;
}
.main{
    overflow: hidden;
    text-align: center;
    background-color: beige;
    width: 500px;
    height: 500px;
    border-style: solid;
}

.fa-regular{
    color: rgb(11, 209, 11);
    font-size: 130px;
    
}
.your{
    font-size: 20px;
}

.rec{
    color: rgb(11, 209, 11);
    

}